.business-tab{
    display: flex;
    justify-content: center;
    height: 60px;
}

.business-tab-logo{
    height: 50px;
    align-self:center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
    justify-self: left;
    padding-left: 30px;
    padding-top: 30px;
}
.products{
    height: 200px;
    width: 150px;
    border:none;
    padding: 0px;
    display: grid;
    grid-template-rows: 150px 150px;
    row-gap: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgb(0,0,0,0.2);
    background-color: white;
}   
.product-photo{
    width: 150px;
    height: 150px;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-details{
    display: grid;
    grid-template-columns: repeat(2,75px);
}

.product-details-markup{
    display: flex;
    flex-direction:column;
    justify-self: center;
}

.product-name{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.product-name-markup{
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    text-align: center;
}

.product-price{
    font-size: 12px;
}
.footer-shops{
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}

@media(max-width:600px){
    .products-container{
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
        justify-self: center;
        padding-left: 0px;
    }
}